#
# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2024 Charleye <wangkart@aliyun.com>
#

menu "Boot Device Support"

config DM_BOOT_DEVICE
	bool "Enable boot device using Driver Model"
	depends on DM
	help
	  Enable support for boot device control. This will allow users to
	  adjust the boot process based on boot device parameter
	  passed to U-Boot.

config DM_BOOT_DEVICE_GPIO
	bool "Use GPIOs as boot device backend"
	depends on DM_BOOT_DEVICE
	help
	  Use GPIOs to control the boot device. This will allow users to boot
	  a chip from a specific device by using a GPIO that can be controlled
	  outside U-Boot.

endmenu
