if HOBOT_J6

choice
	prompt "Hobot Jounery 6 board select"

config TARGET_DVB_J6
	bool "J6 Development Verification board"
	help
	  J6DVB is a development board for Hobot Jounery 6 SoC,
	  with full function and physical connectors support like MIPI,
	  JTAG, MAC, SD card, CAN, QSPI, PCIe, USB-to-serial...

config TARGET_VIRT_SIGI
	bool "Virtual Sigi Development board"
	help
	  Virt-Sigi is a virtual development board for Hobot sigi SoC based on QEMU,
	  with a few part of function and physical connectors support
	  like eMMC, MAC, SDIO, GPIO, I2C, PCIe, USB...

config TARGET_FPGA_J6
	bool "J6 FPGA Verification board"
	select HOBOT_DW8250
	help
	  FPGA is a verification board for Hobot Jounery 6 SoC,
	  with a little function and physical connectors support like UART,
	  JTAG, eMMC, PCIe, USB-to-serial...

endchoice

config SYS_SOC
	default "hobot"

config SYS_MALLOC_F_LEN
	default 0x4000

menu "Horizon Robotics Journey 6 SoC features"

config SYS_NON_INTER_DDR_BASE
	hex "Non-interleave DDR Base Address"
	default 0x3000000000

config SYS_INTERLEAVE_DDR_BASE
	hex "Interleave DDR Base Address"
	default 0x1000000000

config SYS_OCM_BASE
	hex "On-Chip SRAM Base Address"
	default 0x04000000

config HOBOT_SWITCH_TO_EL2
	bool "Force switch to EL2"
	help
	  This option is used to switch CPU into EL2 state. When verifying on the FPGA,
	  there is no BL31 environment, and the CPU cannot directly enter the EL2 state,
	  so it is necessary to switch the CPU to the EL2 state when U-boot starts executing.

endmenu

source "board/hobot/j6dvb/Kconfig"
source "board/hobot/virt-sigi/Kconfig"
source "board/hobot/fpga/Kconfig"

endif
