if HOBOT_J6

choice
	prompt "Hobot Jounery 6 board select"

config TARGET_DVB_J6
	bool "J6 Development Verification board"
	help
	  J6DVB is a development board for Hobot Jounery 6 SoC,
	  with full function and physical connectors support like MIPI,
	  JTAG, MAC, SD card, CAN, QSPI, PCIe, USB-to-serial...


endchoice

config SYS_SOC
	default "hobot"

config SYS_MALLOC_F_LEN
	default 0x4000

config SYS_DDR_BASE
	hex "DDR Base Address"
	default 0x3000000000

config SYS_OCM_BASE
	hex "On-Chip SRAM Base Address"
	default 0x04000000

source "board/hobot/j6dvb/Kconfig"

endif
