# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2024 Charleye <wangkart@aliyun.com>
#

config CLK_AXERA
	bool "Clock support for Axera SoC family of devices"
	depends on CLK
	help
	  Enables the clock translation layer from DT to device clocks.

choice
	prompt "Axera Clock Driver Version"
	depends on CLK_AXERA
	default CLK_AXERA_V2

config CLK_AXERA_V1
	depends on CLK_CCF
	bool "V1"

config CLK_AXERA_V2
	depends on !CLK_CCF
	bool "V2"

endchoice

config LUA_PLL_FIXED_FREQ
	bool "Fixed PLL Clock Frequency"
	depends on CLK_AXERA
	help
	  This option enables support for fixed PLL frequency.

config LUA_PLL_SET_RATE
	bool "Allow PLL Frequency Setting"
	depends on CLK_AXERA
	help
	  This option allows seting PLL frequency.

config SPL_CLK_AXERA
	bool "Clock support for Axera SoC family of devices in SPL"
	depends on CLK && SPL
	help
	  Enables the clock translation layer from DT to device clocks.
