
config LUA_MTDPARTS_READ
	bool "Allow MTDPARTS to be read from mtd device"
	depends on SYS_MTDPARTS_RUNTIME
	depends on AXERA_LUA
	help
	  This option allows us to dynamically build the variables mtdids
	  and mtdparts at runtime by reading mtdparts string from mtd device.

if LUA_MTDPARTS_READ

menu "Fixed partitions that affect mtdparts reading"

config LUA_SBL_SIZE_IN_NORFLASH
	hex "SBL Partition Size in NOR Flash"
	default 0x20000
	help
	  This defines the size of SBL partition in NOR Flash.

config LUA_SBL_SIZE_IN_NANDFLASH
	hex "SBL Partition Size in NAND Flash"
	default 0xC0000
	help
	  This defines the size of SBL partition in NAND Flash.

config LUA_SBL_SIZE_IN_HYPERFLASH
	hex "SBL Partition Size in Hyper Flash"
	default 0x40000
	help
	  This defines the size of SBL partition in Hyper Flash.

config LUA_METADATA_SIZE_IN_NORFLASH
	hex "Metadata Partition Size in NOR Flash"
	default 0x20000
	help
	  This defines the size of Metadata partition in NOR Flash.

config LUA_METADATA_SIZE_IN_NANDFLASH
	hex "Metadata Partition Size in NAND Flash"
	default 0xC0000
	help
	  This defines the size of Metadata partition in NAND Flash.

config LUA_METADATA_SIZE_IN_HYPERFLASH
	hex "Metadata Partition Size in Hyper Flash"
	default 0x40000
	help
	  This defines the size of Metadata partition in Hyper Flash.

endmenu

endif

config LUA_SPI_NOR_RUNTIME
	bool "Allow SPI NOR to be configured at runtime"
	depends on SYS_MTDPARTS_RUNTIME
	depends on AXERA_LUA
	help
	  This option allows us to dynamically build the variables mtdids
	  and mtdparts at runtime for SPI NOR Flash.

if LUA_SPI_NOR_RUNTIME

config LUA_NOR0
	bool "SPI NOR Flash Settings for nor0"
	help
	  This enables settings for first SPI NOR Flash.

config LUA_MTDPARTS_NOR0
	string "MTD Partitions for nor0"
	depends on LUA_NOR0
	help
	  This defines the partitions of nor0 used to build mtparts dynamically
	  for booting.

config LUA_NOR1
	bool "SPI NOR Flash Settings for nor1"
	depends on SYS_MTDPARTS_RUNTIME
	depends on AXERA_LUA
	help
	  This enables settings for second SPI NOR Flash.

config LUA_MTDPARTS_NOR1
	string "MTD Partitions for nor1"
	depends on LUA_NOR1
	help
	  This defines the partitions of nor1 used to build mtparts dynamically
	  for booting.

endif

config LUA_SPI_NAND_RUNTIME
	bool "Allow SPI NAND to be configured at runtime"
	depends on SYS_MTDPARTS_RUNTIME
	depends on AXERA_LUA
	help
	  This option allows us to dynamically build the variables mtdids
	  and mtdparts at runtime for SPI NAND Flash.

if LUA_SPI_NAND_RUNTIME

config LUA_NAND0
	bool "SPI NAND Flash Settings for nand0"
	help
	  This enable settings for the first SPI NAND Flash.

config LUA_MTDPARTS_NAND0
	string "MTD Partitions for nand0"
	depends on LUA_NAND0
	help
	  This define the partition of nand0 used to build mtparts dynamically
	  for booting.

endif
