# SPDX-License-Identifier: GPL-2.0+

menuconfig SOC_LAGUNA
	bool "Laguna SoC drivers support"
	depends on LUA_SOC

if SOC_LAGUNA

config DM_GLBCON
	bool "Support Subsystem Global Control Register Driver"
	depends on DM
	help
	  This option support sysctl driver for Global Register Controller.

source "drivers/soc/axera/fdl/Kconfig"

config FDL_USB_DRV
	bool "Enable USB Driver support only for FDL"
	depends on DM
	help
	  Enable USB raw read/write function.

config SPL_FDL_USB_DRV
	bool "Enable USB Driver support only for FDL in SPL"
	depends on SPL_DM
	help
	  Enable USB raw read/write function in SPL.

config ABORT_ALARM
	bool "Enable Abort Alarm Support"
	depends on DM
	help
	  This option support abort alarm in U-Boot

config SPL_ABORT_ALARM
	bool "Enable Abort Alarm Support in SPL"
	depends on SPL_DM
	help
	  This option support abort alarm in SPL

config ABC_SYSCON
	bool "Support ABC SYSCON Driver"
	depends on DM
	help
	  This option support syscon driver for AB Control.

config SPL_ABC_SYSCON
	bool "Support ABC SYSCON in SPL"
	depends on SPL_DM
	help
	  This option support syscon driver for AB Control in SPL

endif
