if AXERA_LUA

choice
	prompt "Axera Luguna SoC board select"

config TARGET_LUA_DVB
	bool "Laguna SoC Development Verification board"
	select LUA_SOC
	help
	  Laguna DVB is a development board for Axera Laguna SoC,
	  with full function and physical connectors support like MIPI,
	  JTAG, MAC, SD card, CAN, QSPI, USB-to-serial...

config TARGET_LUA_VIRT
	bool "Laguna Virtual Qemu Development board"
	select LUA_SOC
	help
	  lmt-virt is a virtual development board for Axera Laguna SoC based on QEMU,
	  with a few part of function and physical connectors support
	  like eMMC, MAC, SDIO, GPIO, I2C...

config TARGET_LUA_FPGA
	bool "Laguna FPGA Verification board"
	select LUA_SOC
	help
	  FPGA is a verification board for Axera Laguna SoC,
	  with a little function and physical connectors support like UART,
	  JTAG, eMMC, USB-to-serial...

config TARGET_LUA_ZEBU
	bool "Laguna ZeBu Verification Platform"
	select LUA_SOC
	help
	  ZeBu is a verification platform for Axera Laguna SoC.

endchoice

config LUA_SOC
	bool

config SYS_MALLOC_F_LEN
	default 0x4000

menu "Laguna SoC features"
	depends on LUA_SOC

config LUA_DRAM_BASE
	hex "Laguna DRAM Base Address"
	default 0x100000000

config LUA_IRAM_BASE
	hex "Laguna IRAM Base Address"
	default 0x00400000

config LUA_OCM_BASE
	hex "Laguna NPU OCM Base Address"
	default 0x14000000

menu "SPL Loading Images"
	depends on SPL

config LUA_SPL_ATF_LOAD_ADDR
	hex "ATF firmware loaded address"
	default 0x100104000

config LUA_SPL_OPTEE_LOAD_ADDR
	hex "OP-TEE firmware loaded address"
	default 0x104000000

endmenu

menu "U-Boot Loading Images"
config LUA_SCRIPT_LOAD_ADDR
	hex "Boot script load address"
	default 0x10f000000

config LUA_KERNEL_LOAD_NAME
	string "Kernel image name"
	default Image

config LUA_KERNEL_LOAD_ADDR
	hex "Kernel image loaded address"
	default 0x110000000

config LUA_KERNEL_COMP_ADDR
	hex "Kernel image decompression address"
	default 0x120000000

config LUA_KERNEL_COMP_SIZE
	hex "Kernel image decompression buffer size"
	default 0x04000000

config LUA_FDT_LOAD_NAME
	string "FDT image name"
	default "laguna.dtb"

config LUA_FDT_LOAD_ADDR
	hex "DTB image loaded address"
	default 0x118000000

config LUA_RAMDISK_LOAD_NAME
	string "initramfs image name"
	default "rootfs.cpio.gz"

config LUA_RAMDISK_LOAD_ADDR
	hex "initramfs image loaded address"
	default 0x119000000

endmenu

menu "Processor Specific Low-level Init"
config LUA_SWITCH_TO_EL2
	bool "Force Switch to EL2"
	help
	  This option is used to switch CPU into EL2 state. When verifying on the FPGA,
	  there is no BL31 environment, and the CPU cannot directly enter the EL2 state,
	  so it is necessary to switch the CPU to the EL2 state when U-boot starts executing.

config LUA_GICV2_LOWLEVEL_INIT
	bool "Enable GICv2"
	select GICV2
	help
	  This option enables GIC-400. When running on an FPGA alone,
	  we can initialize GIC without BL31, configure security related settings,
	  and complete the same initialization configuration of GIC as BL31.

config LUA_GICD_BASE
	hex "GIC Distributor Base"
	depends on LUA_GICV2_LOWLEVEL_INIT
	default 0x08001000

config LUA_GICC_BASE
	hex "GIC CPU Interfaces Base"
	depends on LUA_GICV2_LOWLEVEL_INIT
	default 0x08002000

config LUA_GTMR_LOWLEVEL_INIT
	bool "Enable Generic Timer Counter"
	help
	  This option enables GTMR_CNT.

config LUA_MAIN_SEC_GLB_BASE
	hex "Main Domain Secure Global Base (sec_glb)"
	depends on LUA_GTMR_LOWLEVEL_INIT
	default 0x18000000

config LUA_GTMR_CNT_OFFSET
	hex "GTMR_CNT Control Offset from sec_glb"
	depends on LUA_GTMR_LOWLEVEL_INIT
	default 0x1D4

config LUA_CPU_GTMR_CNT_BASE
	hex "Generic Timer System Counter Control Base"
	depends on LUA_GTMR_LOWLEVEL_INIT
	default 0x08012000

config LUA_PERIPH_CRU
	bool "Enable Periph Subsystem Clock Gate & Reset"
	help
	  This option enables periph subsystem clock gate and
	  reset sysctl register.

config LUA_PERIPH_CRU_BASE
	hex "Periph Clock & Reset Base"
	depends on LUA_PERIPH_CRU
	default 0x0E001000

config LUA_PERIPH_CLK_GATE_REG0
	hex "Periph Global Clock Gate Enable Register 0"
	depends on LUA_PERIPH_CRU
	default 0x40

config LUA_PERIPH_SWRST_REG0
	hex "Periph Software Control Reset Register 0"
	depends on LUA_PERIPH_CRU
	default 0x120

config LUA_SAFETY_INIT
	bool "Initialize Safety Peripherals"
	help
	  This option enables initialization of safety domain peripherals,
	  like UART, Ethernet...

config LUA_DSU_PMU_INIT
	bool "Enable DSU PMU Register Access"
	help
	  This option enable DSU PMU registers write-accessible from EL1 non-secure.

config LUA_RAS_INIT
	bool "Enable Error Record Registers Access"
	help
	  This option enable RAS error record registers write-accessible
	  from non-secure or secure EL1 and EL2.

endmenu

menu "MTD Settings"
source "board/axera/common/laguna/Kconfig"
endmenu

menu "Misc Settings"

config LUA_AB
	bool "A/B Support"
	select ANDROID_AB
	select CMD_AB_SELECT
	help
	  AVB has been designed to work with A/B by requiring that
	  the A/B suffix is never used in any partition names stored
	  in descriptors.

config LUA_R5F_DEMO_CV
	bool "Load R5F Demo for CV"
	help
	  This option is used to enable function that load R5F
	  demo for CV verification.

config LUA_R5F_CPU_RELEASE_ADDR
	hex "R5F cpu release address"
	default 0x6C4054
	depends on LUA_R5F_DEMO_CV
	help
	  This enable r5f cpu to exit loop and start the demo.

config LUA_CUSTOM_SERVERIP
	bool "Custom severip"
	help
	  This option enable us to specify a server IP address
	  used for tftpboot.

config LUA_SERVERIP
	depends on LUA_CUSTOM_SERVERIP
	string "serverip used for tftpboot"
	default 10.0.2.5
	help
	  Specify sever IP address used for tftpboot.

config SPL_LUA_TEST
	bool "Enable Laguna testcases in SPL"
	depends on SPL_UNIT_TEST
	help
	  This enable all laguna testcases in SPL, such as NPU OCM, safety IRAM.

config SPL_LUA_OCM_TEST
	bool "Enable OCM Stress testcase in SPL"
	depends on SPL_LUA_TEST
	help
	  This enables NPU subsystem OCM testcase in SPL.

config SPL_LUA_IRAM_TEST
	bool "Enable Safety IRAM testcase in SPL"
	depends on SPL_LUA_TEST
	help
	  This enables Safety IRAM testcase in SPL.

config LUA_SELECT_UART_FOR_CONSOLE
	bool "Select which UART will use for console"
	help
	  This is able to select given UART as console.

choice
	prompt "UART index"
	depends on LUA_SELECT_UART_FOR_CONSOLE
	default LUA_MAIN_UART1

config LUA_SAFETY_UART0
	bool "Safety UART0"
	select LUA_SAFETY_INIT

config LUA_MAIN_UART1
	bool "Main UART1"

config LUA_MAIN_UART2
	bool "Main UART2"

endchoice

endmenu

endmenu

config SYS_SOC
	default "laguna"

config SYS_CONFIG_NAME
	default "laguna"

config SYS_VENDOR
	default "axera"

source "board/axera/dvb/laguna/Kconfig"
source "board/axera/qemu-virt/laguna/Kconfig"
source "board/axera/fpga/laguna/Kconfig"
source "board/axera/zebu/laguna/Kconfig"

endif
