
menu "FDL Support"

config FDL_UART
	bool "Enable FDL download over UART"
	depends on DM_SERIAL
	select FDL

config FDL_USB
	bool "Enable FDL download over USB"
	depends on FDL_USB_DRV
	select FDL

config FDL_SDCARD
	bool "Enable FDL download over SDCard"
	depends on DM_MMC
	select FDL

config FDL
	bool

if FDL

config FDL_TIMEOUT
	int "FDL timeout (ms)"
	default 10000
	help
	  This specifies the timeout for receiving FDL command packets
	  and image data.

config FDL_BUF_ADDR
	hex "Define FDL buffer address"
	default 0x108800000 if AXERA_LUA
	help
	  The FDL protocol requires a large memory buffer for
	  downloads. Define this to the starting RAM address to use for
	  downloaded images.

config FDL_BUF_SIZE
	hex "Define FDL buffer size"
	default 0x6000000 if AXERA_LUA
	help
	  The FDL protocol requires a large memory buffer for
	  downloads. This buffer should be as large as possible for a
	  platform. Define this to the size available RAM for FDL.

config FDL_PARTITION_IMAGE
	string "FDL Partition Table Image Filename"
	depends on FDL_SDCARD
	default "fdl_partition.img"
	help
	  This specifies the filename of the FDL partition table image
	  to be used for FDL download over SDCard. The image should
	  contain the partition table.

config FDL_IMAGE_SUFFIX
	string "FDL Image File Suffix"
	depends on FDL_SDCARD
	default ".img"
	help
	  This specifies the suffix of the FDL image files. The FDL
	  download command will look for files with this suffix in the
	  FDL download directory. For example, if the suffix is ".img",
	  the FDL download command will look for files like
	  "u-boot.img", "kernel.img", etc.

config FDL_SHA1SUM
	bool "Enable SHA1 checksum verification"
	depends on FDL_SDCARD
	select SHA1
	help
	  This enables SHA1 checksum verification for FDL
	  downloaded images over SDCard. If enabled, the FDL download
	  command will verify the SHA1 checksum of the downloaded image
	  against the expected checksum before proceeding with the
	  download.

config FDL_SHA1SUM_FILENAME
	string "SHA1 checksum filename"
	depends on FDL_SDCARD && FDL_SHA1SUM
	default "sha1sum.txt"
	help
	  This specifies the filename of the SHA1 checksum file to be
	  used for FDL download over SDCard. The file should contain
	  the SHA1 checksums of the FDL images in the format:
	  "<sha1sum> <filename>". For example:
	  "1234567890abcdef1234567890abcdef12345678 u-boot.img".

config FDL_DEBUG
	bool "FDL debug"
	help
	  This enables the FDL debug mode. If unsure, say N.

config FDL_VERBOSE
	bool "Output more information about the FDL"
	help
	  Enable the output of more information about the FDL
	  such as the command operation state.

choice
	prompt "FDL Protocol Select"
	default FDL_FDL2_PROTO
	depends on !FDL_DEBUG

config FDL_ROMCODE_PROTO
	bool "ROMCode protocol"
	help
	  This enables the FDL ROMCode protocol.

config FDL_FDL1_PROTO
	bool "FDL1 protocol"
	help
	  This enables the FDL FDL1 protocol.

config FDL_FDL2_PROTO
	bool "FDL2 protocol"
	help
	  This enables the FDL FDL2 protocol.

endchoice

choice
	prompt "FDL Data Packet Type"
	default FDL_RAW_DATA_DL

config FDL_PACKAGE_DATA_DL
	bool "Package Data download"

config FDL_RAW_DATA_DL
	bool "Raw Data download"

endchoice

endif

endmenu
