// SPDX-License-Identifier: GPL-2.0+
/*
 * Horizon Robotics J5 DVB device tree
 *
 * Copyright (C) 2022 Horizon Robotics Co,.Ltd.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
/ {
	model = "Horizon Robotics Journey 5 DVB";
	compatible = "hobot,j5dvb";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

	chosen {
		stdout-path = "serial1:921600n8";
	};

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
	};

	gic: interrupt-controller@58000000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <2>;
		#size-cells = <2>;
		interrupt-controller;
		reg = <0x00 0x58000000 0x00 0x10000>,
			<0x00 0x58040000 0x00 0x100000>;
		interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	hobot_sci {
		compatible = "hobot,j5-sci-smccc";
		arm,smc-id = <0x82000009>;
		hobot,sci-cmds = <0x3>;
		ranges;

		#address-cells = <2>;
		#size-cells = <2>;

		bootflags_soc {
			compatible = "hobot,j5-sci";
			reg = <0x0 0x20000d00 0x0 0x300>;
			hobot,sci-index = <0>;
		};

		bootflags_board {
			compatible = "hobot,j5-sci";
			reg = <0x0 0x20000c00 0x0 0x100>;
			hobot,sci-index = <1>;
		};

		bootflags_efuse {
			compatible = "hobot,j5-sci";
			reg = <0x00 0x43084000 0x00 0x00000338>;
			hobot,sci-index = <2>;
		};
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mmc0: sdhci@0x48030000 {
			compatible = "hobot,j5-sd4hc", "cdns,sd4hc";
			reg = <0x0 0x48030000 0x0 0x10000>;
			interrupts = <0 88 4>;
			bus-width = <8>;
		};

		safety: safety-apb@43800000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0 0x43800000 0x400000>;

			serial0: uart@380000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x380000 0x1000>;
				interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <192000000>; //192MHz
				reg-io-width = <4>;
				reg-shift = <2>;
				status = "okay";
			};

			serial1: uart@390000 {
				compatible = "snps,dw-apb-uart";
				reg = <0x390000 0x1000>;
				reg-shift = <2>;
				reg-io-width = <4>;
				interrupts = <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>;
				clock-frequency = <192000000>;
				u-boot,dm-pre-reloc;
				status = "okay";
			};
		};
	};
};
