// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Laguna R5F
 *
 * Copyright (C) 2024 Charleye <wangkart@aliyun.com>
 *
 */

/dts-v1/;

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "axera,laguna-r5f";
	model = "Laguna Safety Island";

	cpus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		cpu@0 {
			compatible = "arm,cortex-r5f";
			device_type = "cpu";
			reg = <0>;
		};
	};

	aliases {
		serial0 = &uart1;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00200000 0x200000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	clk100: clk100 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		u-boot,dm-pre-reloc;
	};

	amba {
		u-boot,dm-pre-reloc;
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		qspi: spi@0051F000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible ="snps,dwc-ssi-1.01a";
			reg = <0x0051F000 0x1000>;
			/* Could possibly go up to 200 MHz */
			spi-max-frequency = <100000000>;
			num-cs = <4>;
			reg-io-width = <4>;
			u-boot,dm-pre-reloc;
			u-boot,dm-spl;
			status = "okay";

			spi-flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-frequency = <50000000>;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
				m25p,fast-read;
				broken-flash-reset;
				u-boot,dm-pre-reloc;
				u-boot,dm-spl;
			};
		};

		ospi: spi@0C040000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible ="snps,dwc-ssi-1.01a";
			reg = <0x0C040000 0x1000>;
			/* Could possibly go up to 200 MHz */
			spi-max-frequency = <100000000>;
			num-cs = <4>;
			reg-io-width = <4>;
			u-boot,dm-pre-reloc;
			u-boot,dm-spl;
			status = "okay";

			spi-flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-frequency = <50000000>;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
				m25p,fast-read;
				broken-flash-reset;
				u-boot,dm-pre-reloc;
				u-boot,dm-spl;
			};

			spi-nand@1 {
				compatible = "spi-nand";
				spi-max-frequency = <40000000>;
				reg = <1>;
				u-boot,dm-pre-reloc;
				u-boot,dm-spl;
			};
		};

		ttc0: timer@ff110000 {
			compatible = "cdns,ttc";
			reg = <0x00657000 0x1000>;
			timer-width = <32>;
			clocks = <&clk100>;
			u-boot,dm-pre-reloc;
		};

		uart1: serial@00602000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x00602000 0x1000>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <192000000>; //192MHz
			u-boot,dm-pre-reloc;
		};
	};
};
