/* SPDX-License-Identifier: GPL-2.0+
 *
 * Laguna Qemu Virtual Platform device tree
 *
 * Copyright (C) 2024 Charleye <wangkart@aliyun.com>
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>

#include "laguna-gpios.dtsi"
/ {
	model = "Laguna Qemu Virtual Platform";
	compatible = "axera,laguna-virt";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x1 0x00000000 0x2 0x00000000>;
		device_type = "memory";
	};

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	gic: interrupt-controller@08000000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <3>;
		#address-cells = <2>;
		#size-cells = <2>;
		interrupt-controller;
		reg = <0x0 0x08001000 0x0 0x1000>,
			  <0x0 0x08002000 0x0 0x2000>;
		interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
	};

	boot-device {
		compatible = "boot-device-gpio";
		gpios = <&gpio0_a 0 GPIO_ACTIVE_HIGH>,
				<&gpio0_a 1 GPIO_ACTIVE_HIGH>,
				<&gpio0_a 2 GPIO_ACTIVE_HIGH>;
		u-boot,env-variable = "bootdevice";
		dev-eMMC = <0x01>;
		dev-NOR = <0x02>;
		dev-NAND = <0x03>;
		dev-UART = <0x04>;
		u-boot,dm-spl;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		u-boot,dm-pre-reloc;
		u-boot,dm-spl;
		ranges;

		serial0: uart@0E403000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x0E403000 0x0 0x1000>;
			reg-shift = <2>;
			reg-io-width = <4>;
			interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
			clock-frequency = <192000000>; //192MHz
			u-boot,dm-pre-reloc;
			u-boot,dm-spl;
			status = "okay";
		};

		serial1: uart@0E404000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x0E404000 0x0 0x1000>;
			reg-shift = <2>;
			reg-io-width = <4>;
			interrupts = <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>;
			clock-frequency = <192000000>;
			u-boot,dm-pre-reloc;
			u-boot,dm-spl;
			status = "okay";
		};

		mmc0: mmc@0C010000 {
			compatible = "axera,lua-dwcmshc";
			reg = <0x0 0x0C010000 0x0 0x2000>;
			interrupts = <0x0 0x0 0x4>;
			max-frequency = <200000000>;
			sdhci-caps-mask = <0xffffffff 0xffffffff>;
			sdhci-caps = <0x00000070 0x156ecc02>;
			bus-width = <8>;
			cap-mmc-highspeed;
			mmc-ddr-1_8v;
			mmc-hs200-1_8v;
			non-removable;
			no-sdio;
			no-sd;
			u-boot,dm-pre-reloc;
			u-boot,dm-spl;
			status = "okay";
		};

		mmc1: mmc@0C012000 {
			compatible = "axera,lua-dwcmshc";
			reg = <0x0 0x0C012000 0x0 0x2000>;
			interrupts = <0x0 0xa 0x4>;
			max-frequency = <200000000>;
			bus-width = <8>;
			mmc-ddr-1_8v;
			mmc-hs200-1_8v;
			status = "disabled";
		};

		spi: spi@0C040000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible ="snps,dwc-ssi-1.01a";
			reg = <0x0 0x0C040000 0x0 0x1000>;
			interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
			/* Could possibly go up to 200 MHz */
			spi-max-frequency = <100000000>;
			num-cs = <4>;
			reg-io-width = <4>;
			u-boot,dm-pre-reloc;
			u-boot,dm-spl;
			status = "okay";

			spi-flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				spi-max-frequency = <50000000>;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
				m25p,fast-read;
				broken-flash-reset;
				u-boot,dm-pre-reloc;
				u-boot,dm-spl;
			};
		};

		eth0: ethernet@0E014000 {
			compatible = "axera,lua-dwmac-eqos";
			interrupts = <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>;
			reg = <0x0 0x0E014000 0x0 0x4000>;
			phy-handle = <&phy1>;
			phy-mode = "gmii";
			// clock-names = "phy_ref_clk", "apb_pclk";
			// clocks = <&clkc 17>, <&clkc 15>;
			// phy-reset-gpios = <&gpioctlr 43 GPIO_ACTIVE_LOW>;

			snps,en-tx-lpi-clockgating;
			snps,en-lpi;
			snps,write-requests = <2>;
			snps,read-requests = <16>;
			snps,burst-map = <0x7>;
			snps,txpbl = <8>;
			snps,rxpbl = <2>;

			dma-coherent;

			mdio {
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				phy1: phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					reg = <0x1>;
				};
			};
		};
	};
};