CONFIG_ARM=y
# CONFIG_ARM64_CRC32 is not set
# CONFIG_ARM64_SUPPORT_AARCH32 is not set
CONFIG_ARCH_HOBOT=y
CONFIG_SYS_TEXT_BASE=0x88000000
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DEFAULT_DEVICE_TREE="hobot-j5dvb"
CONFIG_DEBUG_UART_BASE=0x43b90000
CONFIG_DEBUG_UART_CLOCK=192000000
CONFIG_HOBOT_J5=y
CONFIG_DEBUG_UART=y
CONFIG_SYS_LOAD_ADDR=0x90000000
CONFIG_FIT=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="j5dvb=> "
CONFIG_CMD_BOOTZ=y
# CONFIG_BOOTM_NETBSD is not set
CONFIG_BOOTM_OPENRTOS=y
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_CMD_ELF is not set
CONFIG_CMD_DM=y
CONFIG_OF_LIVE=y
# CONFIG_POWER is not set
CONFIG_BAUDRATE=921600
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_SERIAL_RX_BUFFER=y
CONFIG_SERIAL_SEARCH_ALL=y
CONFIG_SERIAL_PROBE_ALL=y
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SYS_NS16550=y
# CONFIG_SHA256 is not set
