CONFIG_RISCV=y
CONFIG_SYS_MALLOC_LEN=0x40000
CONFIG_DEFAULT_DEVICE_TREE="lambert-qemu-riscv"
CONFIG_DEBUG_UART_BASE=0x60d42000
CONFIG_DEBUG_UART_CLOCK=192000000
CONFIG_DEBUG_UART=y
# CONFIG_SMP is not set
CONFIG_TARGET_LMT_RISCV_VIRT=y
# CONFIG_SPL_SMP is not set
CONFIG_SYS_LOAD_ADDR=0x60e00000
CONFIG_FIT=y
CONFIG_TIMESTAMP=y
CONFIG_FIT_VERBOSE=y
CONFIG_SPL_FIT_PRINT=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x60e00000
# CONFIG_BOARD_LATE_INIT is not set
CONFIG_SPL_LEGACY_IMAGE_SUPPORT=y
CONFIG_SPL_SEPARATE_BSS=y
# CONFIG_SPL_CRC32 is not set
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
CONFIG_PARTITION_UUIDS=y
CONFIG_HAVE_BLOCK_DEVICE=y
CONFIG_DEBUG_UART_SHIFT=2
# CONFIG_SIFIVE_SERIAL is not set
# CONFIG_SHA256 is not set
# CONFIG_SPL_SHA1 is not set
# CONFIG_EFI_LOADER is not set
